
.header {
    padding-bottom: 8px;
    border-bottom: 8px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .header h1 {
    font-size: 48px;
    color: white;
    text-align: center;
  }
  
  .header img {
    object-fit: cover;
    width: 300px;
    height: 180px;
  }
  
  @media (max-width: 768px) {
    .header {
      display: block;
      padding: 1rem 0;
      text-align: center;
    }
  
    .header h1 {
      font-size: 34px;
      padding-top: 4px;
    }
  }